.vscode
/build
/sdkconfig.old
/main/wifi-credentials.h
.DS_Store
.bin_timestamp
/Makefile
/app-flash_args
/bootloader-flash_args
/bootloader-prefix/
/cmake_install.cmake
/compile_commands.json
/config.env
/config/
/dependencies.lock
/esp-idf/
/flash_app_args
/flash_args
/flash_args.in
/flash_bootloader_args
/flash_project_args
/flasher_args.json
/kconfigs.in
/kconfigs_projbuild.in
/ldgen_libraries
/ldgen_libraries.in
/partition-table-flash_args
/project_description.json